<h1>Season <%= @bachelorette.season_number %> Contestants</h1>
<ul id="contestant-list">
  <% @bachelorette.contestants.each do |contestant| %>
    <li id="contestant-<%= contestant.id %>">
    <p><%= contestant.name %></p>
    <p><%= contestant.age %></p>
    <p><%= contestant.hometown %></p>
    </li>
  <% end %>
</ul>