<h1>Season <%= @bachelorette.season_number %> Contestants</h1>
<h2>Contestants:</h2>
<ul id="contestant-list">
  <% @bachelorette.contestants.each do |contestant| %>
    <li id="contestant-<%= contestant.id %>">
    <p>Name: <%= link_to contestant.name, contestant_path(contestant) %></p>
    <p>Age: <%= contestant.age %></p>
    <p>Hometown: <%= contestant.hometown %></p>
    </li>
  <% end %>
</ul>
<h3>Contestant Hometowns:</h3>
<ul id="hometown-list">
  <% @bachelorette.unique_hometowns.each do |hometown| %>
    <li><%= hometown %></li>
  <% end %>
</ul>